.checkout-mainTitle{
    margin: 2rem;
}
.checkout-secTitle{
    margin: 3rem;
}

.checkout-Form{
    padding-left: 3rem;
}
.form-label{
    padding: 1rem;
}
.checkout-Link{
    margin: 3rem;
    font-size: 1.5rem;
    color: black;
}