.card-Product{
    background-color: #dfdfdfdc;
    padding: 1rem
}
.card-img-top{
    max-width: 20rem;
}
.boton-detalle{
    align-self: center;
  width: 150px;
  height: 60px;
  border: 3px solid #bd913f;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: #ffffff;
  font-size: 1.2em;
  font-weight: 550;
}
.boton-detalle:hover {
    background: #bd913f;
    color: #ffffff;
    font-size: 1.5em;
}
.boton-text{
    background-color: #00000000;
    text-decoration: none;
    color: black;
}
.boton-text:hover{
    color: white;
}